/* You can add global styles to this file, and also import other style files */
.rocket-icon {
  background-image: url("assets/shuttle.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 16px;
  height: 16px;
}
